<div class="mat-typography">
  <h1 mat-dialog-title>Add a new gorgeous hero!</h1>

  <form class="mat-dialog-content" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Name" [(ngModel)]="data.name" name="name" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="URL" [(ngModel)]="data.imageUrl" name="imageUrl" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Superpower" [(ngModel)]="data.superPower"
               name="superPower" maxlength="10" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Description" [(ngModel)]="data.description"
                  name="description"></textarea>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button color="accent" [disabled]="!formControl.valid" [mat-dialog-close]="data">Add</button>
      <button mat-button [mat-dialog-close]="undefined" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
